<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kravel.server.mapper.MemberMapper">

    <update id="modifyMemberLoginPw">
		UPDATE
			member tmm
		SET
			login_pw = #{member.loginPw}
		WHERE
			tmm.login_email = #{loginEmail};
	</update>

    <update id="modifyMemberNickName">
		UPDATE
			member tmm
		SET
			nick_name = #{member.nickName}
		WHERE
			tmm.login_email = #{loginEmail};
	</update>

    <delete id="removeMember">
		DELETE FROM
			member
		WHERE
			login_email = #{loginEmail};
	</delete>
</mapper>