<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kravel.server.auth.mapper.AccountMapper">
    <select id="findByLoginEmail" parameterType="string" resultType="account">
		SELECT
			tam.ACCOUNT_ID accountId,
			tam.USER_NAME userName,
			tam.LOGIN_EMAIL loginEmail,
			tam.LOGIN_PW loginPw
		FROM
			tb_account_main tam
		WHERE
			tam.LOGIN_EMAIL = #{loginEmail};
	</select>

	<insert id="saveAccount" parameterType="account">
		INSERT INTO
			tb_account_main(
				USER_NAME,
				LOGIN_EMAIL,
				LOGIN_PW,
				NICK_NAME,
				PHONE_NUM,
				GENDER
			)
		VALUE (
			#{account.userName},
			#{account.loginEmail},
			#{account.loginPw},
			#{account.nickName},
			#{account.phoneNum},
			#{account.gender}
		);
	</insert>



</mapper>