<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kravel.server.mapper.AdminMemberMapper">
    <select id="findAllMembers" parameterType="hashmap" resultType="memberDTO">
        SELECT b.*
        FROM (
            SELECT @rownum:=@rownum+1 idx,
                   a.*
            FROM (
                    (SELECT @rownum:=0) R,
                    (SELECT tmm.member_id memberId,
                           tmm.login_email loginEmail,
                           tmm.gender gender,
                           tmm.role_type roleType,
                           tmm.speech speech,
                           tmm.created_date createdDate,
                           tmm.modified_date modifiedDate,
                           tmm.use_at useAt
                    FROM member tmm
                    WHERE tmm.login_email LIKE CONCAT(#{param.loginEmail}, '%')
                      AND tmm.gener LIKE CONCAT(#{param.gender}, '%')
                      AND tmm.role_type LIKE CONCAT(#{param.roleType}, '%')
                      AND tmm.speech LIKE CONCAT(#{param.speech}, '%')
                      AND tmm.use_at LIKE CONCAT(#{param.useAt}, '%')
                    ) a
                )
            ) b
        ORDER BY b.idx DESC
        LIMIT ${param.offset}, ${param.size};
    </select>
</mapper>