<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kravel.server.api.admin.mapper.AdminMemberMapper">
    <select id="findAllMembers" parameterType="hashmap" resultType="memberDTO">
        SELECT b.*
        FROM (
            SELECT @rownum:=@rownum+1 idx,
                   a.*
            FROM (
                    (SELECT @rownum:=0) R,
                    (SELECT tmm.MEMBER_ID memberId,
                           tmm.LOGIN_EMAIL loginEmail,
                           tmm.GENDER gender,
                           tmm.ROLE role,
                           tmm.LANGU langu,
                           tmm.CREATE_DE createDE,
                           tmm.UPDATE_DE updateDe,
                           tmm.USE_AT useAt
                    FROM tb_member_main tmm
                    WHERE tmm.LOGIN_EMAIL LIKE CONCAT(#{param.loginEmail}, '%')
                      AND tmm.GENDER LIKE CONCAT(#{param.gender}, '%')
                      AND tmm.ROLE LIKE CONCAT(#{param.role}, '%')
                      AND tmm.LANGU LIKE CONCAT(#{param.langu}, '%')
                      AND tmm.USE_AT LIKE CONCAT(#{param.useAt}, '%')
                    ) a
                )
            ) b
        ORDER BY b.idx DESC
        LIMIT ${param.offset}, ${param.max};
    </select>

    <select id="findAllMembersCount" parameterType="hashmap" resultType="int">
        SELECT b.*
        FROM (
            SELECT COUNT(@rownum:=@rownum+1) count
            FROM (
                    (SELECT @rownum:=0) R,
                    (SELECT tmm.MEMBER_ID memberId
                    FROM tb_member_main tmm
                    WHERE tmm.LOGIN_EMAIL LIKE CONCAT(#{param.loginEmail}, '%')
                      AND tmm.GENDER LIKE CONCAT(#{param.gender}, '%')
                      AND tmm.ROLE LIKE CONCAT(#{param.role}, '%')
                      AND tmm.LANGU LIKE CONCAT(#{param.langu}, '%')
                      AND tmm.USE_AT LIKE CONCAT(#{param.useAt}, '%')
                    ) a
                )
            ) b
    </select>
</mapper>