<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kravel.server.api.mapper.NoticeMapper">
    <select id="findAllNotices" parameterType="hashmap" resultType="noticeDTO">
        SELECT tnm.notice_id noticeId,
               tnm.title title,
               SUBSTR(tnm.cretaed_date, 1, 10) createdDate,
               tni.image_url imageUrl
        FROM notice tnm
            LEFT JOIN notice_image tni
            ON tnm.notice_id = tni.NOTICE_ID
            AND tni.represent = true
        WHERE tnm.use_at = 'Y'
        ORDER BY tnm.created_date DESC
        LIMIT ${param.offset}, ${param.size};
    </select>
</mapper>