<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kravel.server.api.mapper.NoticeMapper">
    <select id="findAllNotices" parameterType="hashmap" resultType="noticeDTO">
        SELECT tnm.NOTICE_ID noticeId,
               tnm.SUBJECT subject,
               SUBSTR(tnm.CREATED_DATE, 1, 10) createdDate,
               tni.IMAGE_URL imageUrl
        FROM tb_notice_main tnm
            LEFT JOIN tb_notice_img tni
            ON tnm.NOTICE_ID = tni.NOTICE_ID
            AND tni.REPRESENT = true
        WHERE tnm.USE_AT = 'Y'
        ORDER BY tnm.CREATE_DE DESC
        LIMIT ${param.offset}, ${param.size};
    </select>
</mapper>