<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kravel.server.api.article.mapper.CelebrityMapper">
    <select id="findAllCelebrities" parameterType="hashmap" resultType="celebrityDTO">
        SELECT
            tcm.CELEBRITY_ID celebrityId,
            tcm.CELEBRITY_NAME celebrityName,
            tcm.IMG_URL imgUrl
        FROM
            tb_celebrity_main tcm
            LEFT JOIN
                tb_article_celebrity tac
            ON tcm.CELEBRITY_ID = tac.CELEBRITY_ID
        WHERE
            tcm.CELEBRITY_NAME LIKE CONCAT(#{param.search}, "%")
        ORDER BY
            COUNT(tac.ARTICLE_ID) ${param.order}
        LIMIT
            #{param.offset}, #{param.max};
    </select>

</mapper>