<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kravel.server.api.mapper.CelebrityMapper">
    <select id="findAllCelebrities" parameterType="hashmap" resultType="celebrity">
        SELECT tcm.celebrity_id celebrityId,
               tcm.celebrity_name celebrityName,
               tcm.image_url imageUrl
        FROM celebrity tcm
            LEFT JOIN place_celebrity tac
            ON tcm.celebrity_id = tac.celebrity_id
        WHERE
            tcm.celebrity_name LIKE CONCAT(#{param.search}, "%")
        ORDER BY COUNT(tac.place_id) ${param.order}
        LIMIT #{param.offset}, #{param.size};
    </select>

    <select id="findCelebrityById" parameterType="hashmap" resultType="celebrity">
        SELECT tcm.celebrity_name celebrityName,
               tcm.image_url imageUrl,
               tcm.celebrity_id
        FROM celebrity tcm
        WHERE tcm.celebrity_id = #{param.celebrityId}
        AND tcm.use_at = 'Y';
    </select>

    <select id="findAllCelebrityByPlace" parameterType="long" resultType="celebrity">
        SELECT c.celebrity_name celebrityName,
               c.image_url imageUrl,
               c.celebrity_id
        FROM celebrity c
        WHERE tcm.celebrity_id = #{param.placeId}
        AND tcm.use_at = 'Y';
    </select>

    <select id="findAllPlaceByCelebrity" parameterType="hashmap" resultType="rawPlaceRelatedCelebrityDTO">
        SELECT b.*,
               GROUP_CONCAT(tcm2.celebrity_name) celebrities
        FROM
            (
                SELECT tai.place_id placeId,
                       tai.title title,
                       tam.image_url imageUrl,
                       tmm.media_name mediaName
                FROM celebrity tcm
                    INNER JOIN place_celebrity tac
                    ON tcm.celebrity_id = tac.celebrity_id

                    INNER JOIN place tam
                    ON tac.place_id = tam.place_id
                        AND tam.use_at = 'Y'

                    LEFT JOIN place_info tai
                    ON tam.place_id = tai.place_id
                        AND tai.speech = 'KOR'

                    LEFT JOIN celebrity_media tcm3
                    ON tcm.celebrity_id = tcm3.celebrity_id

                    LEFT JOIN media tmm
                    ON tcm3.media_id = tmm.media_id
                WHERE tcm.celebrity_id = #{param.celebrityId}
                AND tcm.use_at = 'Y'
            ) b

            LEFT JOIN place_celebrity tac2
            ON b.placeId = tac2.place_id

            LEFT JOIN celebrity tcm2
            ON tac2.celebrity_id = tcm2.celebrity_id
                AND tcm2.use_at = 'Y'
        LIMIT ${param.offset}, ${param.size};
    </select>

</mapper>