<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kravel.server.api.article.mapper.MediaMapper">
    <select id="findAllMedia" parameterType="hashmap" resultType="mediaListDTO">
        SELECT tmm.MEDIA_ID mediaId,
               tmm.MEDIA_NAME mediaName,
               tmm.OPEN_YEAR openYear
        FROM tb_media_main tmm
        ORDER BY tmm.${param.sort} ${param.order}
        LIMIT #{param.offset}, #{param.max};
    </select>

    <select id="findMediaInfoById" parameterType="hashmap" resultType="mediaInfoDTO">
        SELECT tmm.MEDIA_ID mediaId,
               tmm.MEDIA_NAME mediaName,
               tmm.IMG_URL imgUrl,
               tmm.CONTENTS contents,
               tmm.OPEN_YEAR openYear
        FROM tb_media_main tmm
        WHERE tmm.MEDIA_ID = #{param.mediaId}
          AND tmm.USE_AT = 'Y';
    </select>
</mapper>