<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kravel.server.mapper.MediaMapper">
    <select id="findAllMedia" parameterType="hashmap" resultType="media">
        SELECT tmm.media_id mediaId,
               tmm.media_name mediaName,
               tmm.open_year openYear
        FROM media tmm
        ORDER BY tmm.${param.sort} ${param.order}
        LIMIT #{param.offset}, #{param.size};
    </select>

    <select id="findMediaById" parameterType="hashmap" resultType="mediaInfoDTO">
        SELECT tmm.media_id mediaId,
               tmm.media_name mediaName,
               tmm.image_url imageUrl,
               tmm.contents contents,
               tmm.open_year openYear
        FROM media tmm
        WHERE tmm.media_id = #{param.mediaId}
          AND tmm.use_at = 'Y';
    </select>

</mapper>